{% extends 'base.html' %}

{% block content %}
<h1 class="display-3 text-center">Crear Tarea</h1>
{{ error }}
<div class="card p-3 m-5">
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="titulo" class="form-label">Titulo de la tarea</label>
            <input type="text" class="form-control" name="title" id="titulo" placeholder="Ingrese el titulo de la tarea" required>
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripcion de la tarea</label>
            <textarea class="form-control" name="description" id="descripcion" rows="3"></textarea>
        </div>
        <button class="btn btn-primary">Crear Tarea</button>
    </form>
</div>
{% endblock %}