{% extends 'base.html' %}

{% block content %}
<h1 class="display-3 text-center">Detalle de la tarea</h1>
{{ error }}
<div class="container d-flex justify-content-center my-5">
    <div class="card p-3" style="width: 30rem;">
        <div class="card-body">
            <h5 class="card-title">{{ task.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Creada por {{ task.user.username }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">{{ task.created }}</h6>
            <p class="card-text">{{ task.description }}</p>
        </div>
        <a href="/tasks/" class="card-link">
            < Regresar </a>
    </div>
    <div class="card mx-5">
        <form class="mx-3" method="post">
            <h4 class="display-6">Modificar tarea</h4>
            {% csrf_token %}
            <div class="my-2">
                <input type="text" name="title" class="form-control" placeholder="Titulo" value="{{ task.title }}"
                    aria-label="Titulo">
            </div>
            <div class="my-2">
                <textarea type="text" name="description" class="form-control" placeholder="Descripcion"
                    aria-label="Descripcion" rows="3">{{ task.description }}</textarea>
            </div>
            <div class="form-check form-switch">
                {% if task.important %}
                <input class="form-check-input" type="checkbox" name="important" role="switch" id="importante" checked>
                {% else %}
                <input class="form-check-input" type="checkbox" name="important" role="switch" id="importante">
                {% endif %}
                <label class="form-check-label" for="importante">Importante</label>
            </div>
            <button class="btn btn-primary my-2">
                Actualizar
            </button>
        </form>
        <div class="d-flex p-2 m-2">
            <form action="{% url 'complete' task.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-danger my-2">
                    Completar
                </button>
            </form>
            <form class="mx-2" action="{% url 'eliminar' task.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-secondary my-2">
                    Eliminar
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}